@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

body{
    background-color: var(--cor1);
    font-family:var(--fonte-padrao);
}

div.video{
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px 30px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video >video{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}




a.externo::after {
    content: '\00A0\1F517';

}


main{

    background-color: white;
    padding: 20px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    box-shadow: 2px, 2px, 10px, black ;

}

main h1{
    color:var(--cor5);
    font-family: var(--fonte-android);

}

main h2{
    color: var(--cor4);
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding-left: 8px;
    font-weight: normal;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
    
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;

}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

header{
    background-image: linear-gradient(to bottom,#2fa866, #0a2415);
    padding-left: 10px;
    background-color: #063d1e;
    height: 150px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
header>p{
    color: white;
    padding-top: 5px;
}

header>h1{
    font-family: var(--fonte-padrao);
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.5em;

}

nav{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: #0a2415;
    box-shadow: 2px 2px 0px rgba(0,0,0.315);

    
}

nav>a{
    color: white;
    padding: 10px 10px 6px 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    
}


nav>a:hover{
    background-color: var(--cor3);
    color: var(--cor6);

}






article{
    background-color: white;
}




:root{
    --cor0:#f7f3e0;
    --cor1:#c5ebd6;
    --cor2:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor6:#063d1e;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android:'Android', cursive;

}
footer{
    padding: 10px;
    background-color:var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;


}

main img{
    display: block;
    margin: auto;

}


aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(110, 108, 108, 0.418);
}

aside > h3{
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}
aside > ul{
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';

}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

footer a:hover{
    text-decoration: underline;
    color: var(--cor2);
}
