@charset "UTF-8";

*{
}

body{
    height: 100vh;
     background-image: linear-gradient(to right, #fc9191, rgb(236, 236, 73));
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}


#principal{

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;


}