#charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
    body{
        background-image: linear-gradient(to right, #005C53, #9FC131);

    }
    p{
        text-align: justify;
    }
    main{
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        width: 600px;
        padding: 10px;
        margin:auto;
        border-radius: 10px;
        box-shadow: 10px 10px 10px black;
    }
    h1{
        color: #042940;
       text-shadow: 1px 1px 1px black;

    }
    
    h2{
        color: #9FC131;  

    }