@charset "UTF-8";

body{
    background-color: #78c2c2;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #0a3b3b;
}
h1#principal{
    color: beige;
    text-align: center;
    background-color: #0a3b3b;

}
.basico{
    color:#4848e0 ;

}
.intermediario{
    color: #1e1e6e;
}